<% if @project %>
  <h1 class="text-xl font-bold">Project Scopes for <%= @project.name %></h1>
<% else %>
  <h1 class="text-xl font-bold">All Project Scopes</h1>
<% end %>

<div class="mb-4">
  <% if @project %>
    <%= link_to "Add New Project Scope", new_project_project_scope_path(@project), class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded" %>
  <% else %>
    <%= link_to "Add New Project Scope", new_project_scope_path, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded" %>
  <% end %>
</div>

<ul>
  <% @project_scopes.each do |project_scope| %>
    <li>
      <% if @project %>
        <%= link_to project_scope.name, project_project_scope_path(@project, project_scope), class: "text-blue-500 hover:underline" %>
      <% else %>
        <%= link_to "#{project_scope.name} (Project: #{project_scope.project.name})", project_scope_path(project_scope), class: "text-blue-500 hover:underline" %>
      <% end %>
    </li>
  <% end %>
</ul>