<h1>Apple to Apple Comparison</h1>

<%= form_with url: generate_comparisons_path, method: :post do %>
  <div>
    <label>Registration Type:</label>
    <select name="registration_type">
      <option value="">All</option>
      <% @registration_types.each do |r_type| %>
        <option value="<%= r_type %>"><%= r_type %></option>
      <% end %>
    </select>
  </div>

  <h2>Select Suppliers to Compare</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Supplier Name</th>
        <th>Registration Type</th>
        <th>Project Name</th>
        <th>Project Scope Name</th>
        <th>System Name</th>
        <th>Subsystem Name</th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <% supplier.projects.each do |project| %>
          <% project.project_scopes.each do |scope| %>
            <% scope.systems.each do |system| %>
              <% system.subsystems.each do |subsystem| %>
                <% if subsystem.detectors_field_devices.present? || subsystem.fire_alarm_control_panels.present? %> <!-- Only show subsystems with evaluations -->
                  <tr>
                    <td>
                      <input type="checkbox" name="supplier_ids[]" value="<%= supplier.id %>" />
                    </td>
                    <td><%= supplier.supplier_name %></td>
                    <td><%= supplier.registration_type %></td>
                    <td><%= project.name %></td>
                    <td><%= scope.name %></td>
                    <td><%= system.name %></td>
                    <td><%= link_to subsystem.name, subsystem_path(subsystem) %></td>  <!-- Link to Subsystem Page -->
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <%= submit_tag "Generate Apple to Apple Comparison" %>
<% end %>
