<h1 class="text-xl font-bold">Assign Supplier to <%= @subsystem.name %></h1>

<%= form_with url: assign_supplier_subsystem_path(@subsystem), method: :post, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :supplier_id, "Select Supplier", class: "block font-medium text-gray-700" %>
    <%= form.collection_select :supplier_id, @suppliers, :id, :supplier_name, { prompt: "Choose a Supplier" }, class: "form-select w-full" %>
  </div>
  <div>
    <%= form.submit "Assign", class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" %>
  </div>
<% end %>
