<%= form_with url: approve_supplier_notification_path(@notification), method: :post, local: true do |form| %>

  <!-- Supplier Details -->
  <div class="mb-4">
    <h2 class="font-semibold text-lg">Supplier Details</h2>
    <p><strong>Name:</strong> <%= @supplier.supplier_name %></p>
    <p><strong>Supplier Category :</strong> <%= @supplier.supplier_category%></p>
    <p><strong>Years in Saudi Market:</strong> <%= @supplier.total_years_in_saudi_market %></p>
    <p><strong>Phone:</strong> <%= @supplier.phone %></p>
    <p><strong>Email:</strong> <%= @supplier.supplier_email %></p>
  </div>

  <!-- Selected Projects -->
  <div class="mb-4">
    <h2 class="font-semibold">Selected Projects</h2>
    <% @supplier.projects.each do |project| %>
      <div>
        <%= form.check_box "project_ids[]", { checked: true }, project.id, nil %>
        <%= label_tag "project_#{project.id}", project.name, class: "ml-2" %>
      </div>
    <% end %>
  </div>

  <!-- Selected Project Scopes -->
  <div class="mb-4">
    <h2 class="font-semibold">Selected Project Scopes</h2>
    <% @supplier.project_scopes.each do |scope| %>
      <div>
        <%= form.check_box "project_scope_ids[]", { checked: true }, scope.id, nil %>
        <%= label_tag "scope_#{scope.id}", scope.name, class: "ml-2" %>
      </div>
    <% end %>
  </div>

  <!-- Selected Systems -->
  <div class="mb-4">
    <h2 class="font-semibold">Selected Systems</h2>
    <% @supplier.systems.each do |system| %>
      <div>
        <%= form.check_box "system_ids[]", { checked: true }, system.id, nil %>
        <%= label_tag "system_#{system.id}", system.name, class: "ml-2" %>
      </div>
    <% end %>
  </div>

  <!-- Selected Subsystems -->
  <div class="mb-4">
    <h2 class="font-semibold">Selected Subsystems</h2>
    <% @supplier.subsystems.each do |subsystem| %>
      <div>
        <%= form.check_box "subsystem_ids[]", { checked: true }, subsystem.id, nil %>
        <%= label_tag "subsystem_#{subsystem.id}", subsystem.name, class: "ml-2" %>
      </div>
    <% end %>
  </div>

  <!-- Receive Evaluation Report -->
  <div class="mb-4">
    <h2 class="font-semibold">Receive Evaluation Report</h2>
    <%= form.radio_button :receive_evaluation_report, "true", id: "receive_true", checked: @supplier.receive_evaluation_report %>
    <%= form.label :receive_evaluation_report_true, "Yes", class: "ml-2" %>
    <%= form.radio_button :receive_evaluation_report, "false", id: "receive_false", checked: !@supplier.receive_evaluation_report %>
    <%= form.label :receive_evaluation_report_false, "No", class: "ml-2" %>
  </div>

  <!-- Receive RFQ Mail -->
  <div class="mb-4">
    <h2 class="font-semibold">Send RFQ Mail</h2>
    <%= form.check_box :receive_rfq_mail, { checked: @supplier.receive_rfq_mail } %>
    <%= form.label :receive_rfq_mail, "Yes" %>
  </div>

  <!-- Approve Supplier Button -->
  <div class="flex items-center space-x-4">
    <%= form.submit "Approve Supplier", class: "bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded" %>
    <%= button_to "Reject Supplier", reject_supplier_notification_path(@notification, supplier_id: @supplier.id), method: :post, data: { turbo: false }, class: "bg-red-500 hover:bg-red-700 text-white px-4 py-2 rounded" %>
  </div>

<% end %>
