<h1><%= @notification.title %></h1>
<p><%= @notification.body %></p>

<% if @fire_alarm_control_panel %>
  <h2>Fire Alarm Control Panel Details</h2>
  <ul>
    <% @fire_alarm_control_panel.attributes.each do |key, value| %>
      <li><strong><%= key.humanize %>:</strong> <%= value %></li>
    <% end %>
  </ul>

  <div>
    <%= link_to 'Download as PDF', notification_path(@notification, format: :pdf), class: "text-blue-500 hover:underline" %> |
    <%= link_to 'Download as Excel', notification_path(@notification, format: :xlsx), class: "text-blue-500 hover:underline" %>

    <% if @notification.additional_data.present? %>
    <% additional_data = JSON.parse(@notification.additional_data) rescue {} %>
    <% if additional_data["evaluation_report_path"].present? %>
      | <%= link_to 'Download Evaluation Report', additional_data["evaluation_report_path"], target: "_blank", rel: "noopener", class: "text-blue-500 hover:underline" %>
    <% end %>
  <% end %>
  
  </div>
<% end %>
