<div class="overflow-x-auto">
  <div class="bg-white shadow rounded-lg p-6" data-controller="tabs">
    <h2 class="text-xl font-semibold text-gray-900">Projects</h2>
    <div class="my-4 flex justify-between items-center">
      <%= link_to "Add New Project", new_project_path, class: "bg-buttonRed text-white py-2 px-4 rounded ml-4" %>
    </div>
  </div>

  <table class="min-w-full divide-y divide-gray-200 border border-gray-200 rounded-full">
    <thead class="bg-tableHeaderBg">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Project Name</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Fire Alarm Control Panels</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Action</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @projects.each do |project| %>
        <tr class="hover:bg-tableRowHoverBg">
          <!-- Project Name -->
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="text-sm font-medium text-gray-900"><%= project.name %></div>
          </td>

          <!-- Fire Alarm Control Panels -->
          <td class="px-6 py-4 whitespace-nowrap">
            <% project.systems.each do |system| %>
              <% system.subsystems.each do |subsystem| %>
                <% subsystem.fire_alarm_control_panels.each do |fire_alarm_control_panel| %>
                  <div class="text-sm text-gray-500 mb-4">
                    <p><strong>Standards:</strong> <%= fire_alarm_control_panel.standards %></p>
                    <p><strong>Total Panels:</strong> <%= fire_alarm_control_panel.total_no_of_panels %></p>
                    <p><strong>Loop Cards:</strong> <%= fire_alarm_control_panel.total_number_of_loop_cards %></p>
                    <p><strong>Circuits per Loop Card:</strong> <%= fire_alarm_control_panel.total_number_of_circuits_per_card_loop %></p>
                    <p><strong>Total Loops:</strong> <%= fire_alarm_control_panel.total_no_of_loops %></p>
                    <p><strong>Spare Loops:</strong> <%= fire_alarm_control_panel.total_no_of_spare_loops %></p>
                    <p><strong>Detectors per Loop:</strong> <%= fire_alarm_control_panel.total_no_of_detectors_per_loop %></p>
                    <p><strong>Spare Loops per Panel:</strong> <%= fire_alarm_control_panel.spare_no_of_loops_per_panel %></p>
                    <p><strong>Polarity Insensitivity:</strong> <%= fire_alarm_control_panel.initiating_devices_polarity_insensitivity %></p>
                    <p><strong>Spare Percentage per Loop:</strong> <%= fire_alarm_control_panel.spare_percentage_per_loop %> %</p>
                    <p><strong>FA Repeater:</strong> <%= fire_alarm_control_panel.fa_repeater %></p>
                    <p><strong>Auto Dialer:</strong> <%= fire_alarm_control_panel.auto_dialer %></p>
                    <p><strong>Dot Matrix Printer:</strong> <%= fire_alarm_control_panel.dot_matrix_printer %></p>
                    <p><strong>Backup Time:</strong> <%= fire_alarm_control_panel.external_batteries_backup_time %> hours</p>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </td>

          <!-- Actions -->
          <td class="px-6 py-4 whitespace-nowrap flex items-center space-x-4">
            <%= link_to project_path(project), class: "text-red-600 hover:text-red-900 flex items-center space-x-1" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
