<h1>Fire Alarm Control Panels for Subsystem: <%= @subsystem.name %></h1>

<table>
  <thead>
    <tr>
      <th>Standards</th>
      <th>Total No of Panels</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @fire_alarm_control_panels.each do |panel| %>
      <tr>
        <td><%= panel.standards %></td>
        <td><%= panel.total_no_of_panels %></td>
        <td><%= panel.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <%= link_to 'View Details', notification_path(panel.notification) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
