<h2>Excel Data Management</h2>

<%= form_with url: requirements_data_path, method: :post do %>
  <table border="1">
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
    </tr>

    <% @requirements_data.each do |row| %>
      <tr>
        <td><%= text_field_tag "requirements_data[#{row[:id]}][column1]", row[:column1] %></td>
        <td><%= text_field_tag "requirements_data[#{row[:id]}][column2]", row[:column2] %></td>
        <td><%= text_field_tag "requirements_data[#{row[:id]}][column3]", row[:column3] %></td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag "Update Excel", class: "btn btn-primary" %>
<% end %>

<!-- ✅ Download Button -->
<br>
<%= link_to "Download Updated Excel", download_requirements_data_path, class: "btn btn-success" %>
